import React from "react";

import "../styles/defaultpage.css"

function DefaultPage() {
  return (
    <div>
      <h1>No schemas given.</h1>
      <h2>
        To render a schema in the frontend, please add the property x-label:
        form in the OpenAPI specification.
      </h2>
    </div>
  );
}

export default DefaultPage;