import React from "react";
import Button from "@mui/material/Button";
import { Link } from "react-router-dom";

import "../styles/sidebar.css";

function SideBar() {
  return (
    <div className="sidebar">
      {{ with .List }} {{range .}}<Button
        variant="contained"
        component={Link}
        to="/{{ .Name }}"
        className="link-button"
      >
        {{ .H1Name }}
      </Button> {{ end }}{{ end }}
    </div>
  );
}

export default SideBar;
