.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar .link-button {
  margin-left: 1em;
  margin-right: 0.5em;
}

.sidebar .link-button:not(:first-of-type) {
  margin-top: 1.5em;
}

@media screen and (min-width: 900px) {
  .sidebar {
    margin-top: 4.7em;
  }
}
