import React, { useState } from "react";
import TextField from "@mui/material/TextField";
import Button from "@mui/material/Button";

import "../../../styles/schemaform.css";

function {{ .ComponentName }}Form(props) {
  // states for all inputs
  {{ with .Properties }}{{ range . }}const [{{ .Name }}, set{{ .LabelName }}] = useState("");
  {{ end }}{{ end }}

  return (
    <form className="schema-form">
      {{ with .Properties }}{{ range . }}<TextField
        label="{{ .LabelName }}"
        variant="outlined"
        value={ {{ .Name }} }
        onChange={e => set{{ .LabelName }}(e.target.value)}
      />
      {{ end }}{{ end }}
      <Button
        variant="contained"
        onClick={() =>
          handleOnClick(
            props,
            {
              {{ with .Properties }}{{ range . }}{{ .Name }},
              {{ end }}{{ end }}
            },
            id
          )
        }
      >
        Submit
      </Button>
    </form>
  );
}

var handleOnClick = async (props, data, id) => {
  if (id === "") {
    console.log("No id given.");
    return;
  }
  let responseData = await props.onClickFunc(props.path, data, id);
  props.setReponseData(responseData);
};

export default {{ .ComponentName }}Form;
