Feature: Server Tests
    {{- range .Paths }}
        {{ with .Responses}}
            {{$path := .Path}}
            {{- range .}}
            {{- if eq .Method "POST" or eq .Method "PUT"}}
                Scenario: Test {{ .Method }} for url {{ $path }}
                    When I send {{ .Method }} to "{{ $path }}" with payload "10"
                    Then The response for url "{{ $path }}" with request method "{{ .Method }}" should be 404
            {{- end }}
            {{- if eq .Method "GET" or eq .Method "DELETE"}}
                Scenario: Test {{ .Method }} for url {{ $path }}
                    When I send {{ .Method }} to "{{ $path }}"
                    Then The response for url "{{ $path }}" with request method "{{ .Method }}" should be 404
            {{- end }}
        {{- end }}
    {{- end }}
{{- end }}