Feature: Server Tests
    {{- range .Paths }}
        {{- range .Requests}}
            {{$path := .Path}}
            {{$request := .Request}}
            {{- if eq request "POST" or eq request "PUT"}}
                Scenario: Test {{ $request }} for url {{ $path }}
                    When I send {{ $request }} to "{{ $path }}" with payload "10"
                    Then The response for url "{{ $path }}" with request method "{{ $request }}" should be 404
            {{- if eq request "GET" or eq request "DELETE"}}
                Scenario: Test {{ $request }} for url {{ $path }}
                    When I send {{ $request }} to "{{ $path }}"
                    Then The response for url "{{ $path }}" with request method "{{ $request }}" should be 404