package util 

import (
	"os"

	"github.com/joho/godotenv"
    "github.com/rs/zerolog/log"
)

type Config struct {
	ServerPort string
}

var AppConfig Config

func LoadConfig() {
	err := godotenv.Load()

	if err != nil {
		log.Error().Err(err).Msg("Error loading .env file")
		panic(err)
	}

	AppConfig.ServerPort = os.Getenv("SERVER_PORT")
}