package handler

import (
    "net/http"

    "github.com/labstack/echo/v4"
)

// {{ .Summary }}
func {{ .OperationID }}(c echo.Context) error {
    {{ with .Responses }}
        {{- range . }}
            // {{ .StatusCode }} => {{ .Desciption }} 
        {{- end }} 
    {{ end }}
	return c.String(http.StatusNotImplemented, "Temporary handler stub.")
}