package handler

import "github.com/labstack/echo/v4"

func NewHandler(e *echo.Echo){
    {{- range .Paths }}
        {{$path := .Path}}
        // Operations for: "{{ $path }}"
        {{- range .Operations }}
            e.{{ .Method }}("{{ $path }}", {{ .OperationID }})
        {{- end }} 

    {{- end }} 
}