package main

import (
	{{- if .UseDatabase}}
		"{{.ModuleName}}/pkg/db"
	{{- end}}
	"{{.ModuleName}}/pkg/handler"
	"{{.ModuleName}}/pkg/util"
	
	{{- if .UseDatabase}}
		"os"
	{{- end}}

	"github.com/rs/zerolog/log"
	"github.com/labstack/echo/v4"
	{{- if .UseLogger}}
		"github.com/labstack/echo/v4/middleware"
	{{- end}}

	{{- if .UseDatabase}}
		"github.com/rs/zerolog"
		"github.com/rs/zerolog/log"
	{{- end}}
)

func main() {
	// load config
	config, err := util.LoadConfig(".")
	if err != nil {
		log.Error().Err(err).Msg("Failed to load config file.")
		return
	}	

	// start echo server
	e := echo.New()

	{{- if .UseDatabase}}
		// Set up zerolog time format
		zerolog.TimeFieldFormat = zerolog.TimeFormatUnix
		// Set pretty logging on
		log.Logger = log.Output(zerolog.ConsoleWriter{Out: os.Stderr})

		db.InitDB()
		defer db.CloseDB()
	{{- end}}

	handler.NewHandler(e)
	{{if .UseLogger}}
		e.Use(middleware.Logger())
	{{end}}
	
	// serve frontend
	e.File("/doc", "public/index.html")
	e.File("/{{.OpenAPIName}}.yaml", "public/{{.OpenAPIName}}.yaml")

	{{- if .UseHTTP2}}
	e.Logger.Fatal(e.StartTLS(":" + config.ServerPort, "cert.pem", "key.pem"))
	{{else}}
	e.Logger.Fatal(e.Start(":" + config.ServerPort))
	{{end}}
}
