{{ define "structs" }}

  {{ range . }}
    {{ .Name }}
    {{- if .NestedTypes }} {{ .Type }} {
        {{ template "structs" .NestedTypes}}
      }
    {{- else }} {{ .Type }}
    {{- end -}}
{{ end }}

{{ end }}
