{{ with .SchemaDefs }}
  {{- range $SchemaName, $TypeDefs := . }}
    type {{ .StructName }} struct {
    {{ with .TypeDefs }}
      {{- range . }}
        {{ .TypeName }} {{ .Type }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}